*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

.content {
    color: aqua;
    transition: 1s;
    height: 100vh;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 4rem;
}

p{
    padding: 2rem 5rem;
}

#nav-bar{
    position: absolute;
    width: 230px;
    height: 100%;
    background-color:aqua;
    left: -300px;
    transition: .5s ease-in-out;
    z-index: 4;
}

/*--icone--*/
.toggle-button{
    position: absolute;
    top: 30px;
    left: 310px;
    cursor: pointer;
    height: 50px;
    width: 50px;

}

.toggle-button span {
    width: 60px;
    height: 10px;
    border-radius: 5px;
    background-color:aqua;
    display: block;
    margin-top: 4px;
    transition: 0.5s ease;
}

li {
    color: black;
    list-style-type: none;
    font-size: 2.5rem;
    cursor: pointer; 
    padding-left: 5px;
}

li:hover {
    background-color: black;
    color: blanchedalmond;

}

#nav-bar.active {
    left: 0;
}

#nav-bar.active .toggle-button {
    top: 2.8rem;
    left: 235px;
}

#nav-bar.active span{
    position: absolute;
}

#nav-bar.active span:nth-child(1) { /*on va chercher le premier span*/
    transform: rotate(45deg);
}

#nav-bar.active span:nth-child(2) { /*on va chercher le 2 span*/
    opacity: 0;
}

#nav-bar.active span:nth-child(3) { /*on va chercher le 3 span*/
    transform: rotate(-45deg);
}

#nav-bar.active ~ .content {
    opacity: 0.3s;
}